@font-face {
  src: url(../source/font/Starjedi.ttf);
  font-family: "star-jedi";
}
body {
  overflow: hidden;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: space 20s linear infinite;
          animation: space 20s linear infinite;
}

@-webkit-keyframes space {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes space {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.head {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}
.head h2 {
  font-family: "star-jedi";
  font-size: 42px;
}
.head p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.portfolio-list {
  width: 1200px;
  margin: 0 auto;
}

.masterpiece {
  width: 30%;
  border: solid 2px #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 30px 1%;
  display: inline-block;
}
.masterpiece:hover {
  transform: scale(1.1);
  box-shadow: rgba(255, 255, 255, 0.56) 0px 10px 70px 4px;
}

.img-wrap {
  width: 100%;
  margin-bottom: 10px;
}
.img-wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.explain-mine {
  width: 100%;
  color: #fff;
}

.mp-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}